.title {
  &__box {
    position: relative;
    padding-top: 18px;
  }
  &__topic {
    color: rgb(1, 69, 122);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;

    padding-bottom: 37px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  &__wave {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}
